<%- include('partials/header') %> 
<div class="container text-center">
    <h1>Types of Donations</h1>
    <p>The human body contains five liters of blood, which is made of several useful components i.e. Whole blood, Platelet, and Plasma.</p>
    <p>
        Each type of component has several medical uses and can be used for different medical treatments. your blood donation determines the best donation for you to make.
    </p>
    <p>For plasma and platelet donation you must have donated whole blood in past two years.</p>
    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Whole blood</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Platelet</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Plasma</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <strong>What we collect?</strong>
                <p>Blood Collected straight from the donor after its donation usually separated into red blood cells, platelets, and plasma.</p>
                <strong>Used For?</strong>
                <p>Stomach disease, kidney disease, childbirth, operations, blood loss, trauma, cancer, blood diseases, haemophilia, anemia, heart disease</p>
                <strong>How long do</strong>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          </div>
        </div>
      </div>
</div>
<%- include('partials/footer') %> 