<%- include('partials/header') %> 
<div class="text-center" style="color: black;padding-top: 50px;padding-bottom: 50px;">
    <h1><i>We are here to help you!!!</i></h1>
</div>
<div class="jumbotron text-center">
    <div class="container">
        <h3>
            Naveen Kumar Gaur<br/>Mehul Lathi<br/>Prachi Desai<br/>Satyaprakash<br/>Het Patel 
        </h3>
    </div>
</div>
<div style="padding: 50px;"></div>
<%- include('partials/footer') %> 