.jumbotron{
    background-color: rgba(0, 0, 0, 0.733);
    /* background-color: #550202; */
    color: white;
}
table{
    background-color: #550202;
    color: white !important;
}
.donation{
    padding-top: 50px;
}
blockquote{
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.671);
}